.content {
    height: 2002px;
    width: 100%;
    display: flex;
    justify-content: center;
    .content-items {
        display: flex;
        margin: 120px 0px 240px 0px;
        flex-direction: column;
        gap: 89px;
        .especialidades-row {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 48px;
            .especialidade-card {
                width: 352px; 
                height: 252px;
            }
        }
    }
}