.denstista-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 749px;

    .dentista-image {
        width: 100%;
        height: 400px !important;
        object-fit: cover;
    }

    li {
        margin-left: 20px;
        list-style-type: disc;
    }
}