<app-color-bar></app-color-bar>
<div class="footer-container">
    <div class="footer-content">
        <div class="logo-and-cta-container">
            <img src="../../../assets/imgs/Logo-footer.png" alt="Logo Liga Odontológica">
            <div class="cta">
                <div class="cta-text h3-desktop">Vamos cuidar do seu sorriso?</div>
                <button (click)="handleSendWppMessage()" class="btn-secundary button-text">
                    <div>Agendar Consulta</div>
                    <img src="../../../assets/imgs/button-whatsapp-icon-blue.png" alt="">
                </button>
            </div>
        </div>
        <div class="nav-container">
            <div class="navegacao">
                <div class="body-text-14 color-blue-2">Navegação</div>
                <ul>
                    <li class="button-text color-white">Especialidades</li>
                    <li class="button-text color-white">Equipe</li>
                    <li class="button-text color-white">Consultório</li>
                    <li class="button-text color-white">Contato</li>
                </ul>
            </div>
            <div class="contatos-horarios-and-social">
                <div class="contatos">
                <div class="body-text-14 color-blue-2">Contatos</div>
                    <div class="body-text-16 color-white contato">
                        <img src="../../../assets/imgs/footer-phone.png" alt="">
                        <div>(51) 1234-5678</div>
                    </div>
                    <div class="body-text-16 color-white contato">
                        <img src="../../../assets/imgs/footer-whatsapp.png" alt="">
                        <div>(51) 91234-5678</div>
                    </div>
                    <div class="body-text-16 color-white contato">
                        <img src="../../../assets/imgs/footer-email.png" alt="">
                        <div>email&#64;email.com</div>
                    </div>
                    <div class="body-text-16 color-white contato">
                        <img width="24px" height="24px" src="../../../assets/imgs/footer-address.png" alt="">
                        <div>R. Félix da Cunha, 737 - Floresta, Porto Alegre/RS</div>
                    </div>
                </div>
                <div class="horarios-and-social">
                    <div class="horarios">
                        <div class="body-text-14 color-blue-2">Horários</div>
                        <div class="body-text-16 color-white horario">
                            <img src="../../../assets/imgs/footer-clock.png" alt="">
                            <div>Segunda à sexta 9h - 18h</div>
                        </div>
                    </div>
                    <div class="socials">
                        <div class="body-text-14 color-blue-2">Redes Sociais</div>
                        <div class="body-text-16 color-white social">
                            <img src="../../../assets/imgs/footer-instagram.png" alt="">
                            <a href="">&#64;ligaodontologica</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>