<section class="equipe">
    <div class="content">
      <img src="../../../assets/imgs/equipe/home_equipe.jpg" alt="">
      <div class="content-description">
        <div class="title-container">
          <span class="title-bar-yellow"></span>
          <h2 class=" color-gray-6">Equipe</h2>
        </div>
        <div class="body-text-16 color-gray-4 text">
          Nossa equipe de especialistas está sempre pronta para oferecer o melhor cuidado odontológico, com excelência e dedicação para o seu sorriso
        </div>
        <button class="btn-primary button-text" (click)="routerNav('equipe')">Conheça a equipe</button>
      </div>
    </div>
  </section>