<section class="equipe">
    <div class="content">
      <img src="../../../assets/imgs/team.jpg" alt="">
      <div class="content-description">
        <div class="title-container">
          <span class="title-bar-yellow"></span>
          <h2 class=" color-gray-6">Equipe</h2>
        </div>
        <div class="body-text-16 color-gray-4 text">
          Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio
        </div>
        <button class="btn-primary button-text">Conheça a equipe</button>
      </div>
    </div>
  </section>