<app-color-bar></app-color-bar>
<div class="headerContainer">
    <div class="logo">
        <img src="../../../assets/imgs/logo_header.svg" alt="Logo da Liga Odontológica">
    </div>
    <div class="pagesAndButtonContainer">
        <div class="pages">
            <ul class="color-gray-3">
                <li class="menu-item">Equipe</li>
                <li class="menu-item">Especialidades</li>
                <li class="menu-item">Consultório</li>
                <li class="menu-item">Contato</li>
            </ul>
        </div>
        <button (click)="handleSendWppMessage()" class="btn-header button-text">Agendar Consulta</button>
    </div>
</div>