.footer-container {
    height: 415px;
    background-color: var(--blue-5);
    padding: 80px 120px 163px 120px;
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 96px;
        .logo-and-cta-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cta {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                gap: 32px;
                .cta-text {
                    color: white;
                }
            }
        }

        .nav-container {
            display: flex;
            gap: 190px;
            ul {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
            .navegacao {
                display: flex;
                flex-direction: column;
                gap: 32px;
            }
            .contatos-horarios-and-social {
                display: flex;
                gap: 80px;
                .contatos {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .contato {
                        display: flex;
                        // max-width: 35ch;
                        gap: 12px;
                    }
                }
                .horarios-and-social {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    .horarios {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .horario {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                        }
                    }
                    .socials {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .social {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                        }
                    }
                }
            }

        }
    }
}