<div class="footer-container">
    <div class="footer-content">
        <div class="logo-and-cta-container">
            <img [style.cursor]="'pointer'" (click)="routerNav('')" src="../../../assets/imgs/Logo-footer.png" alt="Logo Liga Odontológica">
            <div class="cta">
                <h3 class="cta-text">Vamos cuidar do seu sorriso?</h3>
                <button (click)="handleSendWppMessage()" class="btn-secundary button-text">
                    <div>Agendar Consulta</div>
                    <img src="../../../assets/imgs/button-whatsapp-icon-blue.png" alt="">
                </button>
            </div>
        </div>
        <div class="nav-container">
            <div class="navegacao">
                <div class="body-text-14 color-blue-2">Navegação</div>
                <ul>
                    <li [style.cursor]="'pointer'" class="button-text color-white" (click)="routerNav('especialidades')">Especialidades</li>
                    <li [style.cursor]="'pointer'" class="button-text color-white" (click)="routerNav('equipe')">Equipe</li>
                    <li [style.cursor]="'pointer'" class="button-text color-white" (click)="routerNav('consultorio')">Consultório</li>
                    <li [style.cursor]="'pointer'" class="button-text color-white" (click)="routerNav('contato')">Contato</li>
                </ul>
            </div>
            <div class="contatos-horarios-and-social">
                <div class="contatos">
                <div class="body-text-14 color-blue-2">Contatos</div>
                    <div class="body-text-16 color-white contato">
                        <img src="../../../assets/imgs/footer-phone.png" alt="">
                        <div>(51) 98350-0510</div>
                    </div>
                    <div class="body-text-16 color-white contato">
                        <img src="../../../assets/imgs/footer-whatsapp.png" alt="">
                        <div>(51) 98350-0510</div>
                    </div>
                    <div class="body-text-16 color-white contato">
                        <img src="../../../assets/imgs/footer-email.png" alt="">
                        <div>ligaodontologica&#64;gmail.com</div>
                    </div>
                    <div class="body-text-16 color-white contato">
                        <img width="24px" height="24px" src="../../../assets/imgs/footer-address.png" alt="">
                        <div>R. Félix da Cunha, 737 / Sala 510<br>Floresta, Porto Alegre/RS</div>
                    </div>
                </div>
                <div class="horarios-and-social">
                    <div class="horarios">
                        <div class="body-text-14 color-blue-2">Horários</div>
                        <div class="body-text-16 color-white horario">
                            <img src="../../../assets/imgs/footer-clock.png" alt="">
                            <div>Segunda à sexta 9h - 19h30</div>
                        </div>
                    </div>
                    <div class="socials">
                        <div class="body-text-14 color-blue-2">Redes Sociais</div>
                        <div class="body-text-16 color-white social">
                            <img src="../../../assets/imgs/footer-instagram.png" alt="">
                            <a href="">&#64;ligaodontologica</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>