<div *ngIf="isOpened" [style.right]="'120px'" class="dialog-container">
    <div class="dialog-header">
        <div class="whats-app-title color-white">Fale conosco pelo Whatsapp</div>
        <mat-divider class="mat-divider"></mat-divider>
        <div class="whats-app-text-14 color-white">Tire suas dúvidas ou agende uma avaliação. Escolha um assunto abaixo e fale com um especialista agora mesmo.<br><br>Vamos cuidar do seu sorriso?</div>
    </div>
    <div class="dialog-body">
        <div class="dialog-body-item" (click)="clickOption('Olá! Gostaria de informações sobre dentistas em Porto Alegre')">
            <div class="dialog-image-container"></div>
            <div class="dialog-text-container">
                <div class="whats-app-text-12 color-gray-3">Quero informações sobre</div>
                <div class="menu-item color-gray-6">Dentista em Porto Alegre</div>
            </div>
        </div>
        <mat-divider [style.border-color]="'rgba(0,0,0,0.10)'"></mat-divider>
        <div class="dialog-body-item" (click)="clickOption('Olá! Gostaria de informações sobre Invisalign.')">
            <div class="dialog-image-container"></div>
            <div class="dialog-text-container">
                <div class="whats-app-text-12 color-gray-3">Quero informações sobre</div>
                <div class="menu-item color-gray-6">Invisalign - Aparelho invisível</div>
            </div>
        </div>
        <mat-divider [style.border-color]="'rgba(0,0,0,0.10)'"></mat-divider>
        <div class="dialog-body-item" (click)="clickOption('Olá! Gostaria de informações sobre implantes e próteses')">
            <div class="dialog-image-container"></div>
            <div class="dialog-text-container">
                <div class="whats-app-text-12 color-gray-3">Quero informações sobre</div>
                <div class="menu-item color-gray-6">Implantes e Próteses</div>
            </div>
        </div>
        <mat-divider [style.border-color]="'rgba(0,0,0,0.10)'"></mat-divider>
        <div class="dialog-body-item" (click)="clickOption('Olá! Gostaria de informações da clínica')">
            <div class="dialog-image-container"></div>
            <div class="dialog-text-container">
                <div class="menu-item color-gray-6">Quero cuidar do meu sorriso</div>
            </div>
        </div>
    </div>
    <span class="arrow-down"></span>
</div>

<div class="whats-app-floating-button-container" [style.right]="'120px'" (click)="toggleOpen()">
    <img src="../../../assets/imgs/whatsapp-logo-floating-button.png" alt="whatsApp">
</div>