<section class="hero">
    <div class="content">
        <div class="hero-text">
            <h1 class="color-gray-6" [style.maxWidth]="'19ch'">Um sorriso radiante abre portas.</h1>
            <div class="body-text-16 color-gray-5" [style.maxWidth]="'45ch'">Na Liga Odontológica Integrada, transformamos vidas com sorrisos saudáveis e bonitos. Nossa equipe dedicada oferece cuidados personalizados para você. Agende sua consulta e conquiste o sorriso dos seus sonhos.</div>
        </div>
        <button (click)="handleSendWppMessage()" class="btn-primary button-text">
            <div>Agendar Consulta</div>
            <img src="../../../assets/imgs/button-whatsapp-icon-white.png" alt="">
        </button>
    </div>
</section>