.header-title {
    background: url("../../../../../assets/imgs/background-title-mobile.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 226px;
    width: 100%;
}

.title-container {
    padding: 32px 16px 120px 16px !important;

}