.header-title {
    background: url("../../../../assets/imgs/title-background.png");
    background-repeat: no-repeat;
    background-position: 480px;
    height: 350px;
    width: 100%;
}

.title-container {
    padding: 111px 0 0 120px;

}