.consultorio {
    width: 100%;
    height: fit-content;
    background-color: white;

    .content {
        width: calc(100% - 32px);
        padding: 80px 16px 40px 16px;
        display: flex;
        flex-direction: column;
        gap: 56px;
    }
    .content-2 {
        padding: 40px 16px 120px 16px;
        display: flex;
        flex-direction: column;
        gap: 56px;
        height: fit-content;

        .text {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .image {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }
}

.arrows-container {
    align-self: flex-end;
    display: flex;
    gap: 10px;
}

.consultorio-image {
    width: 100% !important;
    height: 400px !important;
}

.carousel-and-arrows-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}