<app-header [isMobile]="isMobile"></app-header>
<app-whats-app-floating-button id="whats" [isMobile]="isMobile" (toggleOpenEvent)="handleToggleOpen()" [isOpened]="isWhatsOpened" id="whats"></app-whats-app-floating-button>
<app-page-title [isMobile]="isMobile" [pageTitle]="'Especialidades e Tratamentos'" [color]="'green'"></app-page-title>

<app-especialidades-page-desktop *ngIf="!isMobile" ></app-especialidades-page-desktop>
<app-especialidades-page-mobile *ngIf="isMobile"></app-especialidades-page-mobile>

<app-footer [isMobile]="isMobile"></app-footer>