.dialog-container {
    z-index: 1000;
    position: fixed;
    bottom: 559px;
	right: 120px;
    display: flex;
    flex-direction: column;
    width: 364px;
    height: 210px;
    .dialog-header {
        border-radius: 8px 8px 0 0;
        background-color: var(--dark-green);
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 32px;
        position: relative;

        .mat-divider {
            border-color: rgba(255,255,255, 0.3);
            margin-bottom: -10px;
            margin-top: -10px;
            margin-left: -24px;
            margin-right: -24px;
        }
    }

    .dialog-body {
        background-color: white;
        border-radius: 0 0 8px 8px;
        display: flex;
        flex-direction: column;
        .dialog-body-item {
            display: flex;
            padding: 16px 24px;
            align-items: center;
            cursor: pointer;
            gap: 16px;
            .dialog-image-container {
                width: 54px;
                height: 54px;
                border-radius: 50%;
                background-color: #D4D4D4;
            }
        }
    }
    .arrow-down {
        position: fixed;
        bottom: 179px;
        right: 150px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid white;
    }
}


.whats-app-floating-button-container {
    z-index: 1000;
    cursor: pointer;
    position: fixed;
	bottom: 80px;
	right: 120px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-green);
}

.dialog-body-item:hover {
    background-color: var(--gray-1);
}