.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    width: 100%;
    align-items: center;
    border: 1px solid var(--gray-2);
    padding: 32px 16px;
    background-color: white;

    .text {
        text-align: center;
    }
}