<app-whats-app-floating-button [isMobile]="isMobile" (toggleOpenEvent)="handleToggleOpen()" [isOpened]="isWhatsOpened" id="whats"></app-whats-app-floating-button>
<app-header [isMobile]="isMobile"></app-header>

<app-hero [isMobile]="isMobile"></app-hero>
<app-especialidades [isMobile]="isMobile"></app-especialidades>
<app-equipe [isMobile]="isMobile"></app-equipe>
<app-consultorio [isMobile]="isMobile"></app-consultorio>
<app-contatos [isMobile]="isMobile"></app-contatos>

<app-footer [isMobile]="isMobile"></app-footer>