<app-whats-app-floating-button [isMobile]="isMobile" (toggleOpenEvent)="handleToggleOpen()" [isOpened]="isWhatsOpened" id="whats"></app-whats-app-floating-button>
<app-header [isMobile]="isMobile"></app-header>
<app-hero [isMobile]="isMobile"></app-hero>
<app-especialidades [isMobile]="isMobile"></app-especialidades>
<app-equipe [isMobile]="isMobile"></app-equipe>
<section class="consultorio">
  <div class="content">
    <div class="title-and-buttons-container">
      <div class="title-container">
        <span class="title-bar-green"></span>
        <h2 class=" color-gray-6">Consultório</h2>
      </div>
      <div class="arrows-container">
        <img (click)="previousConsultorio()" src="../../../assets/imgs/carrousel-arrow-left.png" alt="">
        <img (click)="nextConsultorio()" src="../../../assets/imgs/carrousel-arrow-right.png" alt="">
      </div>
    </div>
    <div class="carousel">
      <ng-container *ngFor="let foto of visibleFotosConsultorio; let i = index">
        <img [ngClass]="getConsultorioImageClass(i)" [src]="foto.src" [alt]="foto.alt" class="consultorio-image">
      </ng-container>
    </div>
  </div>
</section>

<section class="contatos">
  <div class="content">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.6088604451784!2d-51.205231823558194!3d-30.01938563011647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951979415fd70be1%3A0xe8666de312869c8a!2sLiga%20Odontol%C3%B3gica%20Integrada!5e0!3m2!1spt-BR!2sbr!4v1719077391505!5m2!1spt-BR!2sbr" width="50%" height="629" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="content-description">
      <div class="title-container">
        <span class="title-bar-green"></span>
        <h2 class=" color-gray-6">Contatos</h2>
      </div>
      <div class="information-container">
        <div class="information-column">
          <div class="information-item">
            <div class="title">
              <img src="../../../assets/imgs/contact-address.png" alt="Endereço">
              <h3 class="color-gray-6">Endereço</h3>
            </div>
            <div class="body-text-16 color-gray-4">R. Félix da Cunha, 737<br>Floresta, Porto Alegre/RS</div>
          </div>
          <div class="information-item">
            <div class="title">
              <img src="../../../assets/imgs/contact-email.png" alt="">
              <h3 class=" color-gray-6">E-mail</h3>
            </div>
            <div class="body-text-16 color-gray-4">email&#64;email.com</div>
          </div>
        </div>
        <div class="information-column">
          <div class="information-item">
            <div class="title">
              <img src="../../../assets/imgs/contact-whatsapp.png" alt="">
              <h3 class="color-gray-6">Whatsapp</h3>
            </div>
            <div class="body-text-16 color-gray-4">(51) 91234-5678</div>
          </div>
          <div class="information-item">
            <div class="title">
              <img src="../../../assets/imgs/contact-phone.png" alt="">
              <h3 class="color-gray-6">Telefone</h3>
            </div>
            <div class="body-text-16 color-gray-4">(51) 1234-5678</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>