.hero {
    width: 100%;
    height: 741px;
    background-image: url('../../../assets/imgs/Hero.png');
    background-repeat: no-repeat;
    background-position: 480px; // TODO REMOVE ON IMG CHANGE
    margin-bottom: -22px;
    .content {
        padding: 186px 0 0px 124px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;

        .hero-text {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}

.especialidades {
    width: 100%;
    height: 653px;
    background-color: var(--gray-1);
    .content {
        display: flex;
        flex-direction: column;
        gap: 56px;
        padding: 88px 120px;

        .especialidades-cards {
            display: flex;
            gap: 56px;
            margin: 0 auto;
            app-especialidade-card {
                width: 234px;
                height: 244px;
                animation: fadeIn 1s;
            }
        }
    }
    
}

.equipe {
    width: 100%;
    height: 763px;
    background-color: white;
    .content {
        padding: 120px 120px;
        display: flex;
        gap: 80px;
        align-items: center;

        img {
            width: 781px;
            height: 523px;
        }

        .content-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }
        .text {
            max-width: 368px;
        }

    }
}

.consultorio {
    width: 100%;
    height: 975px;
    background-color: white;

    .content {
        padding: 80px 0 120px 0;
        display: flex;
        flex-direction: column;
        gap: 56px;
    }
}

.contatos {
    width: 100%;
    height: 629px;
    background-color: var(--gray-1);
    .content {
        display: flex;
        align-items: center;
        gap: 104px;
        .img {
            width: 781px;
            height: 523px;
            background-color: var(--placeholder);
        }

        .content-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;

            .information-container {
                display: flex;
                gap: 48px;
                .information-column {
                    display: flex;
                    flex-direction: column;
                    gap: 67px;
                    .information-item {
                        margin: 0;
                        padding: 0;
                        width: 220px;
                        height: 100px;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        align-items: flex-start;
                        .title {
                            display: flex;
                            gap: 12px;
                            align-items: center;
                        }
                    }
                }
            }
        }

    }
}
