<app-header [isMobile]="isMobile"></app-header>
<app-whats-app-floating-button id="whats" [isMobile]="isMobile" (toggleOpenEvent)="handleToggleOpen()" [isOpened]="isWhatsOpened" id="whats"></app-whats-app-floating-button>
<app-page-title [isMobile]="isMobile" [pageTitle]="'A Clínica'" [color]="'green'"></app-page-title>

<app-consultorio-page-desktop [visibleFotosConsultorio]="visibleFotosConsultorio" (next)="nextConsultorio()" (previous)="previousConsultorio()" *ngIf="!isMobile"></app-consultorio-page-desktop>
<app-consultorio-page-mobile *ngIf="isMobile"></app-consultorio-page-mobile>

<app-footer [isMobile]="isMobile"></app-footer>