.content {
   
    .content-1 {
        height: 1152px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 56px;
        margin: 0 0 72px 0;

        .title-content {
            margin: 120px 434px 0px 484px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            .title-container {
                display: flex;
                justify-content: center;
            }
            .title-and-buttons-container {
                margin: 0;
            }
        }
    }
    .content-2 {
        height: 913px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 80px;
        margin: 72px 0 0 0;

        .text {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .image {
            width: 517px;
            height: 593px;
            object-fit: cover;
        }
    }

}
