<app-header [isMobile]="isMobile"></app-header>
<app-whats-app-floating-button id="whats" [isMobile]="isMobile" (toggleOpenEvent)="handleToggleOpen()" [isOpened]="isWhatsOpened" id="whats"></app-whats-app-floating-button>

<app-page-title [isMobile]="isMobile" [pageTitle]="'Conheça nossa equipe'" [color]="'green'"></app-page-title>
<app-team-page-desktop *ngIf="!isMobile" [dentistasFirstRow]="dentistasFirstRow" [dentistasSecondRow]="dentistasSecondRow"></app-team-page-desktop>
<app-team-page-mobile *ngIf="isMobile" [dentistasFirstRow]="dentistasFirstRow" [dentistasSecondRow]="dentistasSecondRow"></app-team-page-mobile>


<app-footer [isMobile]="isMobile"></app-footer>