<app-header [isMobile]="isMobile"></app-header>
<app-whats-app-floating-button id="whats" [isMobile]="isMobile" (toggleOpenEvent)="handleToggleOpen()" [isOpened]="isWhatsOpened" id="whats"></app-whats-app-floating-button>

<app-page-title [pageTitle]="'Conheça nossa equipe'" [color]="'green'"></app-page-title>
<section class="content">
    <div class="dentista-row">
        <app-dentista-profile *ngFor="let dentista of dentistasFirstRow" [data]="dentista"></app-dentista-profile>
    </div>
    <div class="dentista-row">
        <app-dentista-profile *ngFor="let dentista of dentistasSecondRow" [data]="dentista"></app-dentista-profile>
    </div>
</section>


<app-footer></app-footer>